<div class="jumbotron">
  <h3>College of Science Advising Center</h3>
  <h5>California State Polytechnic University, Pomona</h5>
  <br>
  <div class="row" style="font-size: 18px">
    <div class="col-md-4" >
      <span class="glyphicon glyphicon-flag"></span> Location <br>
      <a href="http://www.cpp.edu/maps/dynamic/?structureID=Bg-3">Building 3, Room 1645</a>
    </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-phone-alt"></span> Phone <br>
      (909) 979-5654
    </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-envelope"></span> Email <br>
      <a href="mailto:sci_advising@cpp.edu">sci_advising@cpp.edu</a>
    </div>
  </div>
  <br>
  <h4>Please visit the <a href="http://www.cpp.edu/~sci/advising-center/ ">College of Science Advising Center</a> if you have questions or concerns.</h4>
  <br>
</div>
    <p class="text-center">Graduation Assistant is an open project on <a href="https://github.com/sunyu912/graduation-assistant">github</a>.
      If you are interested in working on this project, please contact <a href="mailto:yusun@cpp.edu">Dr. Yu Sun</a>.</p>
</div>

