<div id="my-element" class="fixedsticky jumbotron">  
  <div class="row">    
    <div class="col-md-2 col-md-offset-1">
      <button ng-click="resetAll()" class="btn btn-warning">
      Reset
      </button>
    </div>
    <div class="col-md-3">
      <h4>Quarter {{totalCredit1}} / {{totalCreditGraduate1}}</h4>
      <!-- <p>{{totalCredit1}} / {{totalCreditGraduate1}}</p> -->
    </div>    
    <div class="col-md-3">
      <h4>Semester {{totalCredit2}} / {{totalCreditGraduate2}}</h4>
      <!-- <p>{{totalCredit2}} / {{totalCreditGraduate2}}</p> -->
    </div>              
  </div> 
</div>

<div class="container">
  <h4>Required Core Courses (Quarter)</h4>  
  <div class="row">  
      <div class="[ col-md-2 form-group ]" ng-repeat="c in courses">
              <input ng-mouseover="count = 555" ng-model="c.check" ng-change="updateQuarterCheckStatus(0, $index)" type="checkbox" name="fancy-checkbox-primary" id="{{c.id}}" autocomplete="off" />
              <div class="[ btn-group ]">
                  <label for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary">
                      <span class="glyphicon glyphicon-ok"></span>
                      <span> </span>
                  </label>
                  <label data-toggle="popover" title="{{c.id}} {{c.name}}" data-content="{{c.status}}" for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary ">
                      {{c.id}}
                  </label>
              </div>
      </div>        
  </div>

  <h4>Elective Core Courses (Quarter)</h4>  
  <div class="row">  
      <div class="[ col-md-2 form-group ]" ng-repeat="c in supportCourses">
              <input ng-model="c.check" ng-change="updateQuarterCheckStatus(1, $index)" type="checkbox" name="fancy-checkbox-primary" id="{{c.id}}" autocomplete="off" />
              <div class="[ btn-group ]">
                  <label for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary">
                      <span class="glyphicon glyphicon-ok"></span>
                      <span> </span>
                  </label>
                  <label data-toggle="popover" title="{{c.id}} {{c.name}}" data-content="{{c.status}}" for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary ">
                      {{c.id}}
                  </label>
              </div>
      </div>        
  </div>

  <h4>Required Core Support Courses (Quarter)</h4>  
  <div class="row">  
      <div class="[ col-md-2 form-group ]" ng-repeat="c in eleCourses">
              <input ng-model="c.check" ng-change="updateQuarterCheckStatus(2, $index)" type="checkbox" name="fancy-checkbox-primary" id="{{c.id}}" autocomplete="off" />
              <div class="[ btn-group ]">
                  <label for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary">
                      <span class="glyphicon glyphicon-ok"></span>
                      <span> </span>
                  </label>
                  <label data-toggle="popover" title="{{c.id}} {{c.name}}" data-content="{{c.status}}" for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary ">
                      {{c.id}}
                  </label>
              </div>
      </div>        
  </div>
</div>

<hr>

<div class="container">
  <h4>Required Core Courses (Semester)</h4>  
  <div class="row">  
      <div class="[ col-md-2 form-group ]" ng-repeat="c in semCoreCourses">
              <input disabled ng-model="c.check" type="checkbox" name="fancy-checkbox-primary" id="{{c.id}}" autocomplete="off" />
              <div class="[ btn-group ]">
                  <label for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary">
                      <span class="glyphicon glyphicon-ok"></span>
                      <span> </span>
                  </label>
                  <label data-toggle="popover" title="{{c.id}} {{c.name}}" data-content="{{c.status}}" for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary ">
                      {{c.id}}
                  </label>
              </div>
      </div>        
  </div>
</div>

<div class="container">
  <h4>Elective Core Courses (Semester)</h4>  
  <div class="row">  
      <div class="[ col-md-2 form-group ]" ng-repeat="c in semCoreElective">
              <input disabled ng-model="c.check" type="checkbox" name="fancy-checkbox-primary" id="{{c.id}}" autocomplete="off" />
              <div class="[ btn-group ]">
                  <label for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary">
                      <span class="glyphicon glyphicon-ok"></span>
                      <span> </span>
                  </label>
                  <label data-toggle="popover" title="{{c.id}} {{c.name}}" data-content="{{c.status}}" for="{{c.id}}" ng-class="{'btn-info': c.check, 'btn-success': !c.check && c.ready, 'btn-danger': !c.check && !c.ready}" class="btn btn-primary ">
                      {{c.id}}
                  </label>
              </div>
      </div>        
  </div>
</div>
