<div class="panel panel-primary">
  <div class="panel-heading"><h1 class="panel-title">Directions:</h1> </div>
  <div class="panel-body">
    <div class="row equal vertical-align">
      <div class="col-md-10">
        <ul style="font-size:16px" class="list-group">
          <li class="list-group-item">You are eligible to take the classes highlighted in <strong><span style="color:#5cb85c">green</span></strong> if you have met the corresponding pre-requisites.</li>
          <li class="list-group-item ">Hover over any course, to see pre-requisites or courses that you are missing which are needed to enroll. These classes will typically be highlighted in <strong><span style="color:#ff6666">red</span></strong></li>
          <li class="list-group-item">Click classes that you have completed in order to see which classes you are eligible to take next. These classes will turn <strong><span style="color:#5bc0de">blue</span></strong> once clicked.</li>
          <li class="list-group-item">Left chart is the quarter classes that you have completed, the right chart will be the corresponding semester courses.</li>
          <li class="list-group-item">At the top of the screen, quarter and semester units will be displayed. Quarter units are divided by 1.5 to total semester units.</li>
        </ul>
      </div>
      <div class="col-md-2 align-bottom">
        <div class="panel panel-default">
          <div  style="padding: 10px;">
          <h3><span class="label label-success">Eligible</span></h3>
          <h3><span class="label label-info">Completed</span></h3>
          <h3><span class="label label-danger">Not eligible</span></h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

